<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pizza De Autore - Pedido</title>

    <!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script-->

    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>


    <!-- build:js js/app.min.js -->
    <script src="js/app.js"></script>
    <script src="js/variety.js"></script>
    <!-- /build -->

    <!-- build:[src] js/materialize.min.js -->
    <script src="js/materialize.js"></script>
    <!-- /build -->


    <!--link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"-->

    <!-- build:[href] css/materialize.min.css -->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- /build -->

    <!-- build:[href] css/override.min.css -->
    <link href="css/override.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <!-- /build -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>


<body ng-app="userOrder" ng-controller="orderController" >
    <div class="row imgBackground">
        <div class="col s12 m10 offset-m1">
            <div class="card grey lighten-5">
                <div class="row internalPadding">
                    <div class="col s12">
                        <form ng-submit="sendOrder()" class="col s12">
                            <div class="row">

                                <div class="input-field col s12 m12 l4">
                                     <input id="name" type="text"  ng-model="order.name"/>
                                     <label for="name" class="black-text">Nombre</label>   
                                </div>

                                <div class="input-field col s12 m12 l4">
                                      <input id="address" class="black-text" type="text" ng-model="order.address"/>
                                      <label for="address" class="black-text">Direccion</label>  
                                </div>

                                <div class="input-field col s12 m12 l4">
                                      <input id="telNumber" type="number" ng-model="order.celNumber"/>
                                      <label for="telNumber" class="black-text">Numero de Telefono</label>  
                                </div>

                            </div>
                            <div class="row">
                                <div class="contCard col s12 m6" ng-repeat="item in products" >
                                    <div class="card no-pad">
                                        <div class="card-content">
                                            <span class="card-title">
                                                {{ item.name }}
                                                <i class="right">
                                                    ${{ item.price }}
                                                </i>
                                            </span>   
                                            <p>
                                                {{ item.description }}
                                            </p> 
                                        </div>
                                        <div class="card-action"> 
                                            <div class="row">
                                               <div class="col s6">
                                                   <a class="col s12 btn black waves-effect waves-light"
                                                      ng-click="addItem(item,order)"
                                                      href="#!">
                                                       <i class="material-icons">add</i>
                                                   </a>
                                               </div>
                                               <div class="col s6">
                                                   <a class="col s12 btn black waves-effect waves-light"
                                                      ng-click="removeItem(item,order)"
                                                      href="#!">
                                                       <i class="material-icons">remove</i>
                                                   </a>
                                               </div>
                                            </div>
                                        </div>
                                        <div class="material-popup">
                                            <i class="circle red darken-2 white-text center" ng-class="item.displayable" >{{ item.quantity }}</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="input-field">
                                    <input id="additional" type="text" ng-model="order.additionalFields.additionalNote"/>
                                    <label for="additional" class="black-text">Descripcion adicional (ej : Toca timbre, sin tomates ...)</label>
                                </div>
                                <div class="input-field">
                                    <input id="payInfo" type=number ng-model="order.payWith"/>
                                    <label for="payInfo" class="black-text">El total es de ${{ order.total }} con cuanto Abonas ?</label>
                                </div>
                            </div>
                            <br/>
                            <button class="waves-effect waves-light btn black" type="submit"
                                ng-disabled="order.name == '' || 
                                             order.address == '' ||
                                             order.celNumber == '' ||
                                             order.payWith < order.total ||
                                             order.items.length == 0"
                                             >
                                <i class="material-icons right">send</i>    
                                Enviar
                            </button> 
                            <br/>
                            <br/>
                        </form>
                    </div>
                </div>    
            </div>
        </div>    
    </div>
</body>
</html>